<!DOCTYPE html>
<html>
    <head>
        <title>Order Confirmed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <header>
        <h1>Order Received</h1>
        <nav>
            <a href="/" class="home">Home</a>
            <a href="/live" class="live">Videos</a>
            <a href="/cart" class="cart">Cart</a> 
            <a href="/profile" class="profile">Profile</a>
        </nav>
    </header>
    <main>
        <br><br>s
        <h2 class="label">Thank You!</h2>
        <p class="label">{{ name }}</p>
        <p class="label">Shipped to: {{ address }}</p>
        <section  class="products">
            <div class="product">
                {% include "_order_items.html" with context %}
            <br>          
            </div>
        </section>
        <p><strong>Total: ${{ order2.total }}</strong></p>
        <br><br><br>
        <a href="/" class="checkout-button">Continue shopping</a>

    </main>
</body>
</html>